*.suo

/out/

_bin/
[Bb]in/
[Oo]bj/

*.*.user
_ReSharper*/
/TestResults/

_backup/packages/
_backup/_data/

/_data/
/data/

workspace.xml
tasks.xml
*.class
lib_managed
target
project/boot
project/build/target
project/plugins/lib_managed
project/plugins/src_managed
project/plugins/target
project/plugins/project/build.properties
